.image {
  background-position: center center;

  &__image {
    height: 100%;
    width: 100%;

    &--header {
      max-height: 500px;
      width: 100%;
    }

    &--thumbnail {
      border-radius: 4px;
      height: 100px;
      width: 100px;
    }
  }
}
